<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-12-29T18:22:51Z</date>
	<key>WorkspacePath</key>
	<string>/Users/lucasgiglio/Documents/Xcode/DonkeyKong_ECS2/DonkeyKong_ECS2.xcodeproj</string>
</dict>
</plist>
